.gallery {
  margin-top: 2em;
  flex-direction: column;
  font-family: "Adobe Garamond Pro";
  h1 {
    font-size: 34pt;
    font-weight: bold;
  }
  input#search {
    width: 70vw;
    max-width: 500px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
  }
  .display {
    display: inline;
  }
  .line {
    border-bottom: 1px solid black;
    height: 1px;
    max-width: 100%;
    margin-top: 2em;
  }
}

.images {
  margin: 2em;
}

.rendered {
  margin: 0 auto;
  max-width: 900px;
  min-height: 500px;
  flex-wrap: wrap;
  justify-content: center;
  .url {
    height: 150px;
    background-size: cover;
    margin: 1em;
    background-color: darkgray;
  }
  button.unstyle {
    border: unset;
    background: unset;
    margin: 0;
    padding: 0;
  }
  .thumbnail {
    display: flex;
    flex-direction: column;
    .modal {
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    }
    .close {
      float: right;
      font-size: 28px;
      font-weight: bold;
      max-width: 30px;
    }
  }
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  min-height: 500px;
  .editables {
    display: flex;
    flex-direction: column;
    margin: 2em;
    max-width: 80%;
  }
  .editor {
    margin: 1em;
  }
  input#description {
    min-width: 400px;
    min-height: 100px;
  }
}